.App {
  text-align: center;
  /* background-image: url('../images/background.jpg');  */
  background-color: lightblue;
  margin-top:-40px;
  background-size: 100%;
  height: 1000px;
  width: 100%;
  padding-top: 0;
}
.flex-container {
  background-color: transparent;
  display: flex;
  flex-direction: row; 
  justify-content: center;
}
