.Header {
    font-weight: bold;
    font-family: 'Baloo Bhai', cursive;
    font-size:44px;
    padding-top:20px; 
}
.redColor {
    color:red;
}
.yellowColor {
    color:yellow;
}
.greenColor {
    color:green; 
}
.title {
    color:purple; 
   
}