.Options {
    border-radius: 10px; 
    width:20%; 
    height:290px;
    margin: 4px auto; 
    box-shadow: 3px 3px 4px 1px black; 
    text-align: center; 
    image-orientation: from-image; 
    /* background-image: url("scissors.png")  */
}

.Rock {
    background-image:url("paper3.png"); 
}

.Paper {
    background-image:url("rock2.png"); 
}

.Scissors {
    background-image:url("scissors.png"); 
}